*.log
npm-debug.log*

*.proto

# snapshots
*.snap

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
yarn.lock

# project files
.github
.husky
.prettierrc.json
.babelrc.js
.gitignore
source
tsconfig.json
scripts
NOTICE
